html {
    background-image: url(sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(233, 255, 219, 0.5);
}

.user {
    left: 90%;
    top: 0%;
    position: absolute;
    background-color: rgba(233, 255, 219, 0.5);
    border-radius: 5px;
    padding-inline: 10px;
}

.reset{
    left: 90%;
    top: 3.5%;
    position: absolute;
    background-color: rgb(233, 255, 219, 0.5);
    border-radius: 5px;
    padding-inline: 10px;
}

.home {
    left: 2%;
    top: 2%;
    position: absolute;
    background-color: rgba(233, 255, 219, 0.5);
    border-radius: 5px;
    padding-inline: 10px;
}

.title {
    font-size: 50px;
    text-align: center;
}

.drop {
    height: 20px;
    width: 300px;
}

.select {
    margin-top: 100px;
    margin-left: 250px;
}

.bigTitle {
    text-align: center;
}

.titleContain,
.titleContainR {
    width: 420px;
    background-color: rgba(233, 255, 219, 0.5);
    margin-inline: auto;
    border-radius: 5px;
    /* border: 1px solid gray; */
}

.titleContainR {
    width: 500px;
}

.submit {
    margin-top: 10px;
    margin-inline: 170px;
    width: 70px;
    height: 22px;
    font-size: 15px;
    background-color: gray;
    color: rgb(230, 222, 222);
}

.submit:hover {
    background-color: black;
    transition: 1s;
}

.passLogin,
.userLogin {
    margin-top: 10px;
    margin-inline: 100px;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.submitSelect {
    background-color: gray;
    color: rgb(230, 222, 222);
    margin-top: 10px;
}

.submitSelect:hover {
    background-color: black;
    transition: 1s;
}

.locations {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#cartTable {
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
}

#cartTable th,
#cartTable td {
    border: 1px solid #000;
    padding: 8px;
    align-items: center;
    margin: auto;
}

#cartTable th {
    background-color: rgb(255, 255, 255, 0.5)
}
td, td{
    /* Horizontally center the content */
    align-items: center; 
    text-align: center;
}